* {



    font-family: 'Courier New', Courier, monospace;
}

.red {
    background: black;
    border: 1px solid yellowgreen;
}



.was {

    padding: 9px;
    width: 300px;
    border: 1px solid yellowgreen;
    color: yellowgreen;
    font-size: large;
    background: black;
}

.was:hover {
    color: olivedrab;
    outline: none;
}

.fon {
    background: black;
    color: yellowgreen;
    border: 1px solid yellowgreen;
    font-size: medium;
}

.fon:hover {
    cursor: pointer;
}

body {

    background: black;
    color: yellowgreen;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;

}

.loader {
    position: relative;
}

.loader::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 40%;
    margin-top: 45px;
    background: yellowgreen;
    animation: blink 0.8s steps(3) infinite;
}

@keyframes blink {

    0%,
    75% {
        opacity: 1;
    }

    76%,
    100% {
        opacity: 0;
    }
}

.loader h2 {
    position: relative;
    color: yellowgreen;
    letter-spacing: 5px;
    font-size: 4rem;
    text-transform: uppercase;
    animation: cursor 8s steps(10) infinite;
    overflow: hidden;

}

@keyframes cursor {

    0%,
    90%,
    100% {
        width: 0;
    }

    30%,
    60% {
        width: 434.06px;
    }
}







.dsa {
    font-size: smaller;
    font-weight: bolder;
}





.ed {
    border: 1px solid greenyellow;
    width: 500px;
}

.damn {
    font-size: 18px;
}

.ick {
    background: yellowgreen;
}

.own {
    background: yellowgreen;
    font-size: px;
    color: black;
    padding: 5px;
    border: 1px solid black;
    position: fixed;
    right: 2px;
}